/* Generic Elements */
.flex-container {
	display: flex;
}

/* Intro Elements */
.my-social-icons {
	margin:0.5cm 0cm 0cm 0cm;
}

.my-intro-head {
	margin-bottom:0.5cm;
}

.my-section {
	padding: 4em 0 2em 0!important;
}

.my-contact-form-inputs {
	margin-bottom:15px;
}

/* About Me Elements */
#about-me .flex-container {
	margin: 0 25px;
}

.flex-container .flex-img-holder {
	flex: 1;
}
.flex-container .flex-img-holder img {
	padding: 0 20px;
	max-width: 100%;
}

.flex-container .flex-text-holder {
	flex: 1.62;
}
.flex-container .flex-text-holder p {
	margin: 50px;
	max-width: 100%;
	text-align: left;
}

/* Skills Elements */
#skills .flex-container {
	margin: 0 25px;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-container .skills-logo {
	width: 150px;
	height: 150px;
	padding: 15px;
	overflow: hidden;
}

.flex-container .skills-logo img {
	max-height: 100%;
	max-width: 100%;
}