/* Generic Elements */
.flex-container {
	display: flex;
}

#about-me header,
#experiences header,
#certifications header,
#projects header,
#contact header {
	margin: 0;
}

.section-subtitle {
	margin: 0 2em 2em 2em;
}


/* Intro Elements */
.my-social-icons {
	margin:0.5cm 0cm 0cm 0cm;
}

.my-intro-head {
	margin-bottom:0.5cm;
}

.my-section {
	padding: 4em 0 2em 0!important;
}

.my-contact-form-inputs {
	margin-bottom:15px;
}


/* About Me Elements */
#about-me .flex-container {
	margin: 0 25px;
	flex-wrap: wrap;
}

@media screen and (min-width: 961px) {
	.flex-container .flex-img-holder {
		flex: 1;
	}
	/*.flex-container .flex-text-holder {
		flex: 1.62;
	}*/
	.flex-container .flex-text-holder p {
		margin: 50px;
	}
}

@media screen and (max-width: 961px) {
	.flex-container .flex-text-holder p {
		margin: 25px;
	}
}

.flex-container .flex-img-holder img {
	padding: 0 20px;
	max-width: 100%;
}

.flex-container .flex-text-holder p {
	max-width: 100%;
	text-align: left;
}


/* Experiences Elements */
.experience-item {
	background-color: white;
	border: 2px solid grey;
	border-radius: 20px;
	margin: 20px;
	text-align: left;
}

@media screen and (min-width: 961px) {
	.experience-item {
		margin: 50px;
	}
}

.experience-desc {
	margin: 10px 20px 15px 20px;
	color: black;
}

.experience-desc h1, 
.experience-desc h2, 
.experience-desc h3, 
.experience-desc h4, 
.experience-desc h5, 
.experience-desc h6 {
	color: black;
}

.experience-desc h5 {
	font-size: 0.9em;
	margin-bottom: 0.25em;
}

.experience-desc h6 {
	font-size: 0.85em;
	font-style: italic;
}

.experience-desc ul {
	font-size: 0.8em;
	line-height: 1.5em;
	margin-bottom: 0.5em;
}

.experience-desc p {
	margin: 0;
}


/* Certifications Elements */
#skills .flex-container,
#certifications .flex-container {
	margin: 0 25px;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.cert-item {
	background-color: white;
	transition: background-color 0.2s ease;
	border: 1px solid lightgrey;
	border-radius: 8px;
	margin: 20px;
	text-align: center;
}

@media screen and (min-width: 961px) {
	.cert-item {
		width: 45%;
	}
}

@media screen and (max-width: 961px) {
	.cert-item {
		width: 90%;
	}
}

.cert-item:hover {
	background-color: #e8edec;
}

.cert-item a {
	border-bottom: none;
}

.cert-logo {
	display: inline-block;
	width: 150px;
	height: 150px;
	padding: 15px 0 0 0;
	overflow: hidden;
}

.cert-desc {
	margin: 0 25px 15px 25px;
	color: #666;
}


/* Skills Elements */
#skills h4 {
	text-align: left;
	margin: 25px;
}

.flex-container .skills-logo {
	width: 120px;
	height: 120px;
	padding: 12px;
	overflow: hidden;
}

.flex-container img {
	max-height: 100%;
	max-width: 100%;
}